<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sabores del Sur{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" media="screen" type="text/css">
            <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
            <link href='https://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style-portfolio.css') }}">
            <link rel="stylesheet" href="{{ asset('css/picto-foundry-food.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
            <link rel="icon" href="favicon-1.ico" type="image/x-icon">
        {% endblock %}

<!--    Elemento Cargando   -->
        <style>
            .no-js #loader { display: none;  }
            .js #loader { display: block; position: absolute; left: 100px; top: 0; }
            .se-pre-con {
                position: fixed;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 9999;
                background: url(images/Preloader_2.gif) center no-repeat #fff;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
        <script>
            $(window).load(function() {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");
            });
        </script>

    </head>

    <body>
    <!--    Elemento Cargando   -->
    <div class="se-pre-con"></div>

    {#asd#}
    <header id="top" class="navbar navbar-inverse navbar-fixed-top">
    <container>

        {% block banner %}

        {% endblock %}

    </container>

    </header>



    {#asd#}
{#
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-8">
                        <!--Pregunto si esta logueado o no para iniciar o cerrar sesion-->
                        {% if not is_granted('ROLE_USER') %}
                            <a class="animated bounceInLeft navbar-brand" href="{{ path('security_login') }}">Sabores del Sur</a>
                        {% else %}
                            <a class="navbar-brand">Sabores del Sur</a>
                        {% endif %}
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-4 navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-7">
                {% block banner %}

                {% endblock %}
                </div>
            </div>
        </div>
        </div><!-- /.container-fluid -->
    </nav>
#}
        {% block body %}{% endblock %}


        {% block javascripts %}{% endblock %}

        <script type="text/javascript" src="{{ asset('js/jquery-1.10.2.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/jquery.mixitup.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="{{ asset('js/eskju.jquery.scrollflow.min.js') }}" ></script>
        <script>
            // Bootstrap Datepicker URL: http://bootstrap-datepicker.readthedocs.io/en/latest/
            jQuery(document).ready(function () {
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd'
                });
            })
        </script>
    </body>
</html>
