{% extends 'base.html.twig' %}

    {% block title %}Sabores del Sur{% endblock %}

        {% block banner %}

            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse navHeaderCollapse">
                {% if not is_granted('ROLE_USER') %}
                    <a class="animated bounceInLeft navbar-brand" href="{{ path('security_login') }}">Sabores del Sur</a>
                {% else %}
                    <a class="navbar-brand">Sabores del Sur</a>
                {% endif %}
                <div class="container">
                    <div class="col-lg-offset-6 col-md-offset-5 col-sm-offset-3">
                        <ul class="nav navbar-nav main-nav clear">
                            <li><a href="#top" class="active color_animation">Principal</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle color_animation" data-toggle="dropdown">Productos <b class="caret"></b></a>
                                <ul class="dropdown-menu color_animation" style="background: #222">
                                    <li><a class="color_animation" href="#pricing">Catálogo de Exquisiteses</a></li>
                                    <li><a class="color_animation" href="#beer">Nuestras Especialidades</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle color_animation" data-toggle="dropdown">Nosotros <b class="caret"></b></a>
                                <ul class="dropdown-menu color_animation" style="background: #222">
                                    <li><a class="color_animation" href="#story">Sobre nosotros </a></li>
                                    <li><a class="color_animation" href="#contact">Contacto</a></li>
                                </ul>
                            </li>
                            <li><a href="#reservation" class="color_animation">Pedidos</a></li>
                            {% if is_granted('ROLE_USER') %}
                                <li><a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
                            {% else %}
                                <li><a class="color_animation" href="{{ path('security_login') }}">Ingresar</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>

{#            <div class="navbar-collapse collapse" id=".navbar-collapse">
                <ul class="nav navbar-nav main-nav clear navbar-right">
                    <li><a class="navactive color_animation" href="#top">Principal</a></li>
                    <li><a class="color_animation" href="#story">Conocenos</a></li>
                    <li><a class="color_animation" href="#pricing">Catálogo de exquisiteces</a></li>
                    <li><a class="color_animation" href="#beer">Especialidades</a></li>
                    <li><a class="color_animation" href="#reservation">Realizar Pedido</a></li>
                    <li><a class="color_animation" href="#contact">Contacto</a></li>
                </ul>
            </div>#}{#
#}{#

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id=".navbar-collapse">
                        <ul class="nav navbar-nav main-nav clear navbar-right ">
                            <li><a class="navactive color_animation" href="#top">Principal</a></li>
                            <li><a class="color_animation" href="#story">Conocenos</a></li>
                            <li><a class="color_animation" href="#pricing">Catálogo de exquisiteces</a></li>
                            <li><a class="color_animation" href="#beer">Especialidades</a></li>
                            <li><a class="color_animation" href="#reservation">Realizar Pedido</a></li>
                            <li><a class="color_animation" href="#contact">Contacto</a></li>
                            {% if is_granted('ROLE_USER') %}
                                <li><a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
                            {% else %}
                                <li><a class="color_animation" href="{{ path('security_login') }}">Iniciar Sesión</a></li>
                            {% endif %}
                        </ul>
                    </div>
#}

            <!-- ============ Mensaje de aviso exito al cargar imagen ============= -->
                        {% set flashbag_notices = app.session.flashbag.get('mensajeExito') %}
                        {% if flashbag_notices is not empty %}
                            {% for mensaje in flashbag_notices %}
                                <div class="col lg-10 col-md-10 col-sm-12 col-xs-12 alert alert-success">
                                    {{ mensaje }}
                                </div>
                            {% endfor %}
                        {% endif %}
            <!-- ============ Mensaje de error limite de tamaño excedido ============= -->
                        {% set flashbag_notices = app.session.flashbag.get('mensajeLimiteTamaño') %}
                        {% if flashbag_notices is not empty %}
                            {% for mensaje in flashbag_notices %}
                                <div class="col lg-10 col-md-10 col-sm-12 col-xs-12 alert alert-danger">
                                    {{ mensaje }}
                                </div>
                            {% endfor %}
                        {% endif %}
            <!-- ============ Mensaje de error tipo de archivo no reconocido ============= -->
                        {% set flashbag_notices = app.session.flashbag.get('mensajeTipoArchivo') %}
                        {% if flashbag_notices is not empty %}
                            {% for mensaje in flashbag_notices %}
                                <div class="col lg-10 col-md-10 col-sm-12 col-xs-12 alert alert-danger">
                                    {{ mensaje }}
                                </div>
                            {% endfor %}
                        {% endif %}
            <!-- ============ Mensaje de consulta de pedido ============= -->
                    {% set flashbag_notices = app.session.flashbag.get('mensajeOrdenPedidoExito') %}
                    {% if flashbag_notices is not empty %}
                        {% for mensaje in flashbag_notices %}
                            <div class="col lg-10 col-md-10 col-sm-12 col-xs-12 alert alert-success">
                                {{ mensaje }}
                            </div>
                        {% endfor %}
                    {% endif %}
            <!-- ============ Mensaje de contacto ============= -->
                    {% set flashbag_notices = app.session.flashbag.get('mensajeContactoExito') %}
                    {% if flashbag_notices is not empty %}
                        {% for mensaje in flashbag_notices %}
                            <div class="col lg-10 col-md-10 col-sm-12 col-xs-12 alert alert-success">
                                {{ mensaje }}
                            </div>
                        {% endfor %}
                    {% endif %}
            <!-- ============ Mensaje de aviso exito al cargar imagen ============= -->
            {% set flashbag_notices = app.session.flashbag.get('mensajeBorradoArchivo') %}
            {% if flashbag_notices is not empty %}
                {% for mensaje in flashbag_notices %}
                    <div class="col lg-10 col-md-10 col-sm-12 col-xs-12 alert alert-success">
                        {{ mensaje }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endblock %}

{% block body %}
        <div class="starter_container bg">
            <div class="follow_container">
                <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                    {% if is_granted('ROLE_USER') %}
                        <a class="animated bounceInLeft navbar-brand" href="{{ path('admin_profile') }}">Administrar</a>
                    {% endif %}<br><br><br><br>
                    <h2 class="animated swing navbar-brand-bigger">Repostería</h2><br><br>
                    <hr class="animated bounceInLeft">
                    <h2 class="animated bounceInDown white second-title">" La mejor en la ciudad "</h2>
                    <hr class="animated bounceInRight">
                </div>
            </div>
        </div>

        <!-- ============ About Us ============= -->

        <section id="story" class="description_content scrollflow -slide-right -opacity">
            <div class="text-content container">
                <div class="col-md-6">
                    <h1>Conócenos</h1>
                    <div class="fa fa-cutlery fa-2x"></div>
                    <p class="desc-text">Somos una familia bien dispuesta cuyo propósito es comenzar a emerger en este hermoso emprendimiento que busca convertir cada segundo en una verdadera aventura, no solo para el paladar de aquellos que lo prueben, sino también para la vida. Creemos que la cocina es un lenguaje mediante el cual se puede expresar armonia, creatividad, felicidad, poesia, magia, humor, provocación. Queda en ustedes que tipo emoción quieran generar! Sin más, los invito a ser parte de este sueño!</p>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="hidden-xs col-md-6">
                            <div class="img-section">
                                <img src="{{ asset('images/Other/21192483_1679525915451816_4323066963082020934_n.jpg') }}" width="250" height="220">
                                <img src="{{ asset('images/Other/21150099_1679438395460568_4188395351542253078_n.jpg') }}" width="250" height="220">
                                <div class="img-section-space"></div>
                                <img src="{{ asset('images/Other/21150057_1679527285451679_6146148214145008711_n.jpg') }}" width="250" height="220">
                                <img src="{{ asset('images/Other/20180318_130317.jpg') }}" width="250" height="220">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="hidden-lg hidden-md hidden-sm col-xs-6">
                            <img src="{{ asset('images/Other/21192483_1679525915451816_4323066963082020934_n.jpg') }}"  width="100%">
                            <div class="img-section-space"></div>
                            <img src="{{ asset('images/Other/21150099_1679438395460568_4188395351542253078_n.jpg') }}" width="100%">
                            <div class="img-section-space"></div>
                        </div>
                        <div class="hidden-lg hidden-md hidden-sm col-md-6 col-xs-6">
                            <img src="{{ asset('images/Other/21150057_1679527285451679_6146148214145008711_n.jpg') }}"  width="97%">
                            <div class="img-section-space"></div>
                            <img src="{{ asset('images/Other/20180318_130317.jpg') }}" width="97%">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ============ Galeria de fotos ============= -->
        <section class="description_content">
            <div class="fixed-bg-pricing">
                <br><br>
                <h2 class="navbar-brand-bigger">Precio único</h2>
            </div>
            <br><br>
        <div class="container">
            <div class="row">
                <hr>
                    <div id="pricing" class="col-md-12">
                        <h2 class="title"><em>Mira nuestros productos y consulta tu pedido sin cargo!</em></h2>
                    </div>
                <hr>
                    <div class="col-md-12">
                        <p style="text-align: center" class="desc-text"><em>Seleccione un elemento para realizar una consulta sin cargo alguno.</em></p><br>
                    </div>
                <div>
                    <div align="center">
                        <button class="btn btn-success filter-button" data-filter="all">Todos</button>
                        <button class="btn btn-info filter-button" data-filter="hdpe">Tortas</button>
                        <button class="btn btn-info filter-button" data-filter="sprinkle">Tartas</button>
                        <br class="hidden-lg hidden-md">
                        <br class="hidden-lg hidden-md">
                        <button class="btn btn-info filter-button" data-filter="spray">Mesas Dulces</button>
                        <button class="btn btn-info filter-button" data-filter="irrigation">Variedades</button>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6 col-md-offset-3">
                        <label  style="visibility: hidden" id="codigoPedido">Código de Pedido: </label>
                    </div>
                </div>

                <!-- Tortas -->
                    {% for torta in tortas %}
                        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter hdpe">
                            <img style="width: 320px; height: 220px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ torta.getImage.getOriginalName }}' data-toggle="modal" data-target="#myModal" onclick="mostrarImagen('{{ torta.getImage.getOriginalName }}','{{ torta.tituloDescripcion }}','{{ torta.descripcion }}'), fijarCodigo('{{ torta.codigo }}')" alt="Card image cap">
                        </div>
                    {% endfor %}
                        <!-- Tartas -->
                    {% for tarta in tartas %}
                        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter sprinkle">
                            <img style="width: 320px; height: 220px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ tarta.getImage.getOriginalName }}' data-toggle="modal" data-target="#myModal" onclick="mostrarImagen('{{ tarta.getImage.getOriginalName }}','{{ tarta.tituloDescripcion }}','{{ tarta.descripcion }}'), fijarCodigo('{{ tarta.codigo }}')" alt="Card image cap">
                        </div>
                    {% endfor %}
                        <!-- Mesas dulces -->
                    {% for mesaDulce in mesasDulces %}
                        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter spray">
                            <img style="width: 320px; height: 220px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ mesaDulce.getImage.getOriginalName }}' data-toggle="modal" data-target="#myModal" onclick="mostrarImagen('{{ mesaDulce.getImage.getOriginalName }}','{{ mesaDulce.tituloDescripcion }}','{{ mesaDulce.descripcion }}'), fijarCodigo('{{ mesaDulce.codigo }}')" alt="Card image cap">
                        </div>
                    {% endfor %}
                        <!-- Variedades -->
                    {% for variedad in variedades %}
                        <div class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter irrigation">
                            <img style="width: 320px; height: 220px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ variedad.getImage.getOriginalName }}' data-toggle="modal" data-target="#myModal" onclick="mostrarImagen('{{ variedad.getImage.getOriginalName }}','{{ variedad.tituloDescripcion }}','{{ variedad.descripcion }}'), fijarCodigo('{{ variedad.codigo }}')" alt="Card image cap">
                        </div>
                    {% endfor %}
            </div>
        </div>
        </section>

        <!-- ============ Nuestras Tortas  ============= -->
        <section id ="beer" class="description_content">
            <div  class="fixed-bg-specialty">
                <br><br>
                <h2 class="navbar-brand-bigger">Nuestra especialidad</h2>
            </div>
            <div class="text-content container">

                <div class="col-md-6 col-md-offset-1">
                    <h1>Nuestras tortas</h1>
                    <div class="fa fa-birthday-cake fa-3x"></div>
                        <p class="desc-text">Todos nuestros bizcochuelos son caseros elaborados con ingredientes de la mejor calidad, por eso se ven los resultados al deleitar el paladar de nuestrs clientes.</p>
                        <br>
                        <p class="desc-text">Te invitamos a probar nuestra exquisita Torta Du Soleil 2.0 y nos cuentes que te parece!</p>
                </div>
                <div class="col-md-5 col-">
                    <div class="img-section">
                        <img src="{{ asset('images/especialidad.jpeg') }}" width="80%">
                    </div>
                </div>
            </div>
            <br>
        </section>

        <!-- ============ Reservation  ============= -->

        <section class="description_content">
            <div class="fixed-bg-order scrollflow -slide-bottom -opacity">
                <br><br><br><br>
                <h2 class="navbar-brand-bigger-pedido">Consulta por tu pedido!</h2>
            </div>
            <div class="text-content container">
                <div class="inner contact">
                    <!-- Form Area -->
                    <div id="reservation" class="contact-form">
                        <!-- Form -->
                            <hr>
                            <div class="row scrollflow -slide-bottom -opacity">
                                <div class="col-md-12">
                                    <h2 class="second-title"> Completa tus datos para consultar por tu pedido!</h2>
                                </div>
                            </div>
                            <hr>
                                <div class="text-content container scrollflow -slide-top -opacity">
                                    <div class="col-md-5">
                                        <div>
                                            {{ form_start(formOrder) }}
                                            {{ form_row(formOrder.name, {
                                                'label': 'Nombre completo',
                                            }) }}
                                            {{ form_row(formOrder.email) }}
                                            {{ form_row(formOrder.phone, {
                                                'label': 'Teléfono',
                                            }) }}
                                            {{ form_row(formOrder.dateExpected, {
                                                'label': 'Fecha en la que necesito este producto',
                                            }) }}
                                            {{ form_row(formOrder.orderCode, {
                                                'label': false,
                                                'id': 'codPedido',
                                                'attr': {'readonly':'true'}
                                            }) }}
                                        </div>
                                    </div>
                                    <br class="hidden-xs">
                                    <div class="col-md-6 col-md-offset-1">
                                        <p class="text-info">Ya casi! Sólo falta una descripción...</p>
                                        <div class="fa fa-thumbs-o-up fa-4x"></div>
                                        <p class="desc-text">Cuéntanos cada detalle que deseas en tu pedido, nosotros te responderemos al instante sobre nuestros precios y recomendaciones sin ningún compromiso de compra.</p>
                                        <br><br>
                                        {{ form_row(formOrder.descripcion, {
                                            'label': 'Descripción',
                                            'attr': {'placeholder': '¿Cómo decorarías este producto?Cuentanos... :)'}
                                        }) }}
                                        <div class="col-lg-offset-8">
                                            <h6>(Cant. Pisos; Colores; Extras).</h6>
                                        </div>
                                    </div>
                                    <div class="col-md-10 col-lg-offset-1" >
                                    <button onclick="location.href='#reservation';" type="submit" class="btn btn-success btn-lg btn-block" formnovalidate>Consultar por este Pedido!</button>

                                    </div>
                                        {{ form_end(formOrder) }}
                                </div>
                            </div>
                    </div><!-- End Contact Form Area -->
                </div><!-- End Inner -->
            </div>
        </section>

        <!-- ============ Social Section  ============= -->

        <section class="social_connect scrollflow -slide-top -opacity">
            <div class="text-content container">
                <div class="col-md-6">
                    <span class="social_heading">Seguinos</span>
                    <ul class="social_icons">
                        <li><a class="icon-twitter color_animation" href="#" target="_blank"></a></li>
                        <li><a class="icon-github color_animation" href="#" target="_blank"></a></li>
                        <li><a class="fa fa-facebook color_animation" href="https://www.facebook.com/taniasantossaboresdelsur/" target="_blank"></a></li>
                        <li><a class="icon-mail color_animation" href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="social_heading">O Llamanos</span>
                    <span class="social_info"><a class="color_animation" href="tel:156-246-712">(0351)156-246-712</a></span>
                </div>
            </div>
        </section>

        <!-- ============ Contact Section  ============= -->
        <section class="description_content">
            <div id="contact" class="text-content container">
                <div class="inner contact">
                    <!-- Form Area -->
                    <div class="contact-form">
                        <!-- Form -->
                        <hr>
                        <div class="row scrollflow -slide-bottom -opacity">
                            <div class="col-md-12">
                                <h2 class="second-title"> Tu opinión nos interesa, dejanos un comentario!</h2>
                            </div>
                        </div>
                        <hr>
                        <div class=" row text-content container scrollflow -slide-top -opacity">
                            <div class="col-md-5">
                                <div>
                                    {{ form_start(formContact) }}
                                    {{ form_row(formContact.name, {
                                        'label': 'Nombre completo',

                                    }) }}
                                    {{ form_row(formContact.email) }}
                                    {{ form_row(formContact.topic, {
                                        'label': 'Tema',
                                    }) }}
                                </div>
                            </div>
                            <br>
                            <div class="col-md-6 col-md-offset-1">
                                <div class="fa fa-thumbs-o-up fa-4x"></div>
                                {{ form_row(formContact.mensaje, {
                                    'label': 'Mensaje'
                                }) }}
                            </div>
                            <div class="col-md-10 col-lg-offset-1" >
                                <button onclick="location.href='#contact';" type="submit" class="btn btn-success btn-lg btn-block" formnovalidate>Enviar Mensaje!</button>
                                <br>
                            </div>
                            {{ form_end(formContact) }}
                        </div>
                    </div>
                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->
            </div>
        </section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
 <div class="modal-header">
         <div class="row">
             <div class="col-lg-11 col-md-10 col-sm-10 col-xs-9">
                 <em><h5 class="modal-title" id="myModalTitle"><p style="font-size: 20px;" id="textoTitulo"></p></h5></em>
             </div>
             <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                 </button>
             </div>
         </div>
 </div>
 <div class="modal-body">
     <div class="container">
     <div class="row">
         <div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
             <em>
                 <p style="font-size: 13px;" id="textoDescripcion"></p>
                 <p style="font-size: 13px;" class="desc-text">Aclaración: Todos los rellenos descriptos pueden modificarse a gusto del cliente.</p>
             </em>
         </div>
     </div>
     <div class="row">
         <div align="middle" class="col-lg-6 col-md-7 col-sm-9 col-xs-12" >
             <img id="imagenAExpandir" style=" width: 220px;" alt="Card image cap">
         </div>
     </div>
     </div>
 </div>
 <div class="modal-footer">
     <div class="container">
         <div class="row">
             <div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                 <button type="button" id="botonModal" onclick="cerrarYPedir()" class="btn btn-primary">Esta es para mí, consultar!</button>
             </div>
         </div>
     </div>
 </div>
</div>
</div>
</div>

    <!-- ============ Footer Section  ============= -->
        <footer class="sub_footer">
            <div class="container">
                <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                            <p class="sub-footer-text text-center">Copyright &copy; 2017 Sabores del Sur</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p class="sub-footer-text text-center">Volver al <a href="#top">Inicio</a></p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                            {% if is_granted('ROLE_USER') %}
                                <a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
                            {% else %}
                                <a class="color_animation" href="{{ path('security_login') }}">Iniciar Sesión</a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </footer>

    {% endblock %}

    {% block javascripts %}

        {{ parent() }}

        <script>
            function fijarCodigo(codigo) {
                document.getElementById("codigoPedido").innerHTML = "Código de Pedido:" + codigo;
                $('#codPedido').val(codigo);
            }
        </script>

        <script>
            function mostrarImagen(originalName,titulo,descripcion) {
                $('#imagenAExpandir').attr('src','/images/Uploads/'+originalName);
                document.getElementById("textoTitulo").innerHTML = titulo;
                document.getElementById("textoDescripcion").innerHTML = descripcion;
            }
        </script>

        <script>
            function cerrarYPedir() {
                $('#botonModal').attr("data-dismiss","modal");
                window.location.href = "#reservation"
            }
        </script>

    {% endblock %}