{% extends 'base.html.twig'%}

    {% block banner %}
        <div>
            <a class="animated bounceInLeft navbar-brand" href="{{ path('homepage') }}">Sabores del Sur</a>
            <div class="container">
                <div class="col-lg-offset-6 col-md-offset-5 col-sm-offset-3">
            <ul class="hidden-xs nav navbar-nav main-nav clear">
                <li><a class="navactive color_animation">Editar Producto</a></li>
                <!--Pregunto si esta logueado o no para iniciar o cerrar sesion-->
                {% if is_granted('ROLE_USER') %}
                    <li><a></a></li>
                    <li><a class="color_animation" href="{{ path('homepage') }}">Volver a Inicio</a></li>
                    <li><a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
                {% endif %}
            </ul>
           </div>
         </div>
        </div>
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main-nav  clear navbar-right ">
                <li><a href="#" class="navactive color_animation">Nuevo Producto</a></li>
            </ul>
        </div>#}
    {% endblock %}
{% block body %}
    <div id="top" class="starter_container_login bg">
        <div class="follow_container">
            <div class="container contenedor2">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <br>
                        <h2><em>Editar Producto</em></h2>
                    </div>
                </div>
                <div class="row">
                {{ form_start(uploadFileForm) }}
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        {{ form_row(uploadFileForm.imageFile, {
                            'label': 'Selección de imagen a subir',
                        }) }}
                        {{ form_row(uploadFileForm.categoria) }}
                        {{ form_row(uploadFileForm.tituloDescripcion, {
                            'label': 'Título del producto',
                        }) }}
                        {{ form_row(uploadFileForm.descripcion, {
                            'label': 'Descripción del producto',
                        }) }}
                        <a href="{{ path('admin_profile') }}" class="btn btn-success">Volver  <span class="fa fa-arrow-left"></span></a>
                        <button type="submit" class="btn btn-success" formnovalidate>Subir!</button>
                        <br><br>
                {{ form_end(uploadFileForm) }}
                    </div>
                    <!--Img para lg-->
                    <div align="middle" class="hidden-md hidden-sm hidden-xs  col-lg-6">
                        <img class="img-rounded img-circle" style="width: 75%;" src='/images/Uploads/{{ producto.image.originalName }}', alt="Card image cap">
                    </div>
                    <!--Img para md y sm-->
                    <div align="middle" class="hidden-lg hidden-xs col-md-12 col-sm-12 ">
                        <img class="img-rounded img-circle" style="width: 45%;" src='/images/Uploads/{{ producto.image.originalName }}', alt="Card image cap">
                    </div>
                    <!--Img para xs-->
                    <div align="middle" class="hidden-lg hidden-md hidden-sm col-xs-6 col-xs-offset-1">
                        <img class="img-rounded img-circle" style="width: 200%;" src='/images/Uploads/{{ producto.image.originalName }}', alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}