{% extends 'base.html.twig'%}

    {% block banner %}
        <div>
            <a class="animated bounceInLeft navbar-brand" href="{{ path('homepage') }}">Sabores del Sur</a>
            <div class="container">
                <div class="col-lg-offset-6 col-md-offset-5 col-sm-offset-3">
            <ul class="hidden-xs nav navbar-nav main-nav clear">
                <li><a class="navactive color_animation">Nuevo Producto</a></li>
                <!--Pregunto si esta logueado o no para iniciar o cerrar sesion-->
                {% if is_granted('ROLE_USER') %}
                    <li><a></a></li>
                    <li><a class="color_animation" href="{{ path('homepage') }}">Volver a Inicio</a></li>
                    <li><a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
                {% endif %}
            </ul>
           </div>
          </div>
        </div>
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main-nav  clear navbar-right ">
                <li><a href="#" class="navactive color_animation">Nuevo Producto</a></li>
            </ul>
        </div>#}
    {% endblock %}

{% block body %}
<div id="top" class="starter_container_login bg">
    <div class="follow_container">
        <div class=" col-md-4 col-md-offset-1 container contenedor2">
            <br>
            <div class="col-md-12">
                <h2><em>Nuevo Producto</em></h2><br>
                {{ form_start(uploadFileForm) }}
                {{ form_row(uploadFileForm.imageFile, {
                    'label': 'Selección de imagen a subir',
                    'name_attr': {'class': 'btn btn-success'},
                    'label_attr': {'style': 'text-align:center'},
                }) }}
                {{ form_row(uploadFileForm.categoria) }}
                {{ form_row(uploadFileForm.tituloDescripcion, {
                    'label': 'Título del producto',
                }) }}
                {{ form_row(uploadFileForm.descripcion, {
                    'label': 'Descripción del producto',
                }) }}
                <a href="{{ path('admin_profile') }}" class="btn btn-success">Volver  <span class="fa fa-arrow-left"></span></a>
                <button type="submit" class="btn btn-success" formnovalidate>Subir!</button>
                <br><br>
                {{ form_end(uploadFileForm) }}
            </div>
        </div>
    </div>
</div>
    {% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}

