{% extends 'base.html.twig' %}


    {% block title %}Sabores del Sur{% endblock %}

        {% block banner %}
            <div>
                <a class="animated bounceInLeft navbar-brand" href="{{ path('homepage') }}">Sabores del Sur</a>
                <div class="container">
                    <div class="col-lg-offset-6 col-md-offset-5 col-sm-offset-3">
                <ul class="hidden-xs nav navbar-nav main-nav clear">
                    <li><a class="navactive color_animation">{{ app.user ? app.user.nombre: '' }} {{ app.user ? app.user.apellido: '' }}</a></li>
                    <!--Pregunto si esta logueado o no para iniciar o cerrar sesion-->
                    {% if is_granted('ROLE_USER') %}
                        <li><a></a></li>
                        <li><a class="color_animation" href="{{ path('homepage') }}">Volver a Inicio</a></li>
                        <li><a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
                    {% endif %}
                </ul>
                </div>
              </div>
            </div>
        {% endblock %}
{% block body %}
    <div id="top" class="starter_container_profile bg">
            <div class="follow_container">
                <div class="col-md-6 col-md-offset-3">
                    <h2 class="animated tada">Bienvenida {{ app.user ? app.user.nombre }} !!</h2>
                    <br>
                    <hr>
                    <h3 class="animated rubberBand">Aquí podrás administrar tu galeria de fotos</h3>
                </div>
            </div>
        </div>

        <!-- ============ Galeria de fotos ============= -->
    <section>
        <br>
        <div class="container">
            <div class="row">
                <hr>
                    <div class="col-md-12">
                        <h2 class="title"><em>Mira como luce tu galeria...</em></h2>
                    </div>
                <hr>
                <div class="col-md-12">
                    <p style="text-align: center" class="desc-text"><em>Seleccione un elemento y precione en "Editar" para modificarlo o eliminarlo.</em></p><br>
                </div>
                <div class="col-md-12">
                    <div align="center">
                        <button class="btn btn-success filter-button" data-filter="all">Todos</button>
                        <button class="btn btn-info filter-button" data-filter="hdpe">Tortas</button>
                        <button class="btn btn-info filter-button" data-filter="sprinkle">Tartas</button>
                        <br class="hidden-lg hidden-md">
                        <br class="hidden-lg hidden-md">
                        <button class="btn btn-info filter-button" data-filter="spray">Mesas Dulces</button>
                        <button class="btn btn-info filter-button" data-filter="irrigation">Variedades</button>
                    </div>
                </div>
            </div>
                <br>

            <div class="row">
                <div class="hidden-xs col-lg-3 col-md-4 col-sm-5">
                    <a  class="btn btn-success scrollflow -slide-right -opacity" href="{{ path('user_register') }}">Nuevo Usuario</a>
                    <a  class="btn btn-success scrollflow -slide-right -opacity" href="{{ path('product_new') }}">Nuevo Producto</a>
                </div>
                <div style="text-align: center" class="hidden-lg hidden-md hidden-sm col-xs-12">
                    <a  class="btn btn-success btn-xs scrollflow -slide-right -opacity" href="{{ path('user_register') }}">Nuevo Usuario</a>
                    <a  class="btn btn-success btn-xs scrollflow -slide-right -opacity" href="{{ path('product_new') }}">Nuevo Producto</a>
                    <br><br>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-10 col-xs-offset-1">
                    <form action="javascript:getCodigo()" class="search-form">
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" name="search" id="search" placeholder="Buscar producto por código">
                            <span onclick="getCodigo()" class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>

                <br>
            <div class="row">
                {% for producto in productos%}
                    {% if producto.categoria == 'Torta' %}
                        <div align="middle" class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter hdpe">
                            <a href="{{ path('product_edit', { 'codigo': producto.codigo}) }}" class="btn btn-xs btn-success"><span style="width: 20px;" class="fa fa-pencil"></span></a>
                            <a href="{{ path('product_remove', { 'codigo': producto.codigo}) }}" class="btn btn-xs btn-warning"><span class="fa fa-trash"></span></a>
                            <br><br>
                            <img style="width: 320px; height: 180px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ producto.getImage.getOriginalName }}' alt="Card image cap">
                        </div>
                    {% endif %}

                    {% if producto.categoria == 'Tarta' %}
                        <div align="middle" class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter sprinkle">
                            <a href="{{ path('product_edit', { 'codigo': producto.codigo}) }}" class="btn btn-xs btn-success"><span style="width: 20px;" class="fa fa-pencil"></span></a>
                            <a href="{{ path('product_remove', { 'codigo': producto.codigo}) }}" class="btn btn-xs btn-warning"><span class="fa fa-trash"></span></a>
                            <br><br>
                            <img style="width: 320px; height: 180px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ producto.getImage.getOriginalName }}' alt="Card image cap">
                        </div>
                    {% endif %}

                    {% if producto.categoria == 'Mesa dulce' %}
                        <div align="middle" class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter spray">
                            <a href="{{ path('product_edit', { 'codigo': producto.codigo}) }}" class="btn btn-xs btn-success"><span style="width: 20px;" class="fa fa-pencil"></span></a>
                            <a data-toggle="modal" data-target="#myModal2" class="btn btn-xs btn-warning"><span class="fa fa-trash"></span></a>
                            <br><br>
                            <img style="width: 320px; height: 180px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ producto.getImage.getOriginalName }}' alt="Card image cap">
                        </div>
                    {% endif %}

                    {% if producto.categoria == 'Variedad' %}
                        <div align="middle" class="gallery_product col-lg-4 col-md-4 col-sm-6 col-xs-12 filter irrigation">
                            <a href="{{ path('product_edit', { 'codigo': producto.codigo}) }}" class="btn btn-xs btn-success"><span style="width: 20px;" class="fa fa-pencil"></span></a>
                            <a href="{{ path('product_remove', { 'codigo': producto.codigo}) }}" class="btn btn-xs btn-warning"><span class="fa fa-trash"></span></a>
                            <br><br>
                            <img style="width: 320px; height: 180px;" class="card-img-top imagenGaleria activarBoton" src='/images/Uploads/{{ producto.getImage.getOriginalName }}' alt="Card image cap">
                        </div>
                    {% endif %}
                {% endfor %}

            </div>

            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2Title" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <em><p style="font-size: 15px;" id="textoDescripcion"></p>
                            <p style="font-size: 15px;" class="desc-text">Seguro deseas eliminar esta foto?</p>
                        </em>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button href="{{ path('product_edit', {'codigo': 'x'}) }}" type="button" id="botonModal" class="btn btn-primary">Si, eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============ Footer Section  ============= -->

    <footer class="sub_footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5">
                    <p class="sub-footer-text text-center">Copyright &copy; 2017 Sabores del Sur</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <p class="sub-footer-text text-center">Volver al <a href="#top">Inicio</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-3">
                    {% if is_granted('ROLE_USER') %}
                        <a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a><
                    {% else %}
                        <a class="color_animation" href="{{ path('security_login') }}">Iniciar Sesión</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            function getCodigo() {
                var cod = document.getElementById('search').value;
                url = "{{ path('product_edit', {'codigo': 'CODIGO'}) }}";
                url = url.replace("CODIGO", cod);
                    location.href = url;
            }
        </script>
    {% endblock %}

