{% extends 'base.html.twig' %}

    {% block banner %}
        <a class="animated bounceInLeft navbar-brand" href="{{ path('homepage') }}">Sabores del Sur</a>
        <div class="container">
            <div class="col-lg-offset-6 col-md-offset-5 col-sm-offset-3">
        <ul class="hidden-xs nav navbar-nav main-nav clear">
            <li><a class="navactive color_animation">Nuevo Usuario</a></li>
            <!--Pregunto si esta logueado o no para iniciar o cerrar sesion-->
            {% if is_granted('ROLE_USER') %}
                <li><a></a></li>
                <li><a class="color_animation" href="{{ path('homepage') }}">Volver a Inicio</a></li>
                <li><a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
            {% endif %}
        </ul>
       </div>
      </div>
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main-nav  clear navbar-right ">
                <li><a href="#" class="navactive color_animation">REGISTRO</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->#}
    {% endblock %}

{% block body %}
    <div id="top" class="starter_container_login bg">
                 <div class="follow_container">
                     <div class=" col-md-4 col-md-offset-1 container contenedor">
                         <br>
                <div class="col-md-12">
                    <h2><em>Registro de Usuario</em></h2><br>
                {{ form_start(registerForm) }}
                {{ form_row(registerForm.nombre, {
                    'label': 'Nombre'
                }) }}
                {{ form_row(registerForm.apellido, {
                    'label': 'Apellido'
                }) }}
                    {{ form_row(registerForm.email) }}
                {{ form_row(registerForm.plainPassword.first, {
                    'label': 'Contraseña'
                }) }}
                {{ form_row(registerForm.plainPassword.second, {
                    'label': 'Repite la contraseña'
                }) }}

                <a href="{{ path('admin_profile') }}" class="btn btn-success">Volver  <span class="fa fa-arrow-left"></span></a>
                    <button type="submit" class="btn btn-success" formnovalidate>Ingresar  <span class="fa fa-lock"></span></button>
                    <br><br>
                {{ form_end(registerForm) }}
    </div>
                     </div>
    </div>
    </div>
{% endblock %}