
{# app/Resources/TwigBundle/views/Exception/error.html.twig #}
{% extends '../../../../views/base.html.twig' %}

{% block body %}
	<h1>Page not found</h1>

	<p>
		The requested page couldn't be located. Checkout for any URL
		misspelling or <a href="{{ path('homepage') }}">return to the homepage</a>.
	</p>
{% endblock %}