
Parece que {{ nombre }} se contacto contigo!

{{ nombre }} dice:
Asunto: {{ tema }}
{{ mensaje }}

Puedes responderle a su email: {{ email }}


{#Hi {{ nombre }}! You're successfully registered.#}

{# example, assuming you have a route named "login" #}