
Manos a la obra!

{#Hi {{ nombre }}! You're successfully registered.#}
Parece que a {{ nombre }} le interesa comprar un producto!
Sus datos son:
Nombre: {{ nombre }}
Email: {{ email }}
Teléfono: {{ telefono }}

Pedido:
{{ categoria }}, (codigo: {{ codigoPedido }} )
Descripción de la consulta:
{{ descripcion }}
Fecha para la cual lo desea: {{ fechaEsperada }}

No demores en llamarlo a {{ telefono }}, o contactarlo en {{ email }} para acordar el pedido.
Puedría ser un potencial cliente!