
Hola {{ nombre }}!!
Acabamos de recibir tu consulta sobre un producto, y estamos muy contentos por ello!
Te contactaremos a la brevedad por email o te llamaremos para responder dudas y acordar los terminos de tu entrega.

Desde ya te da la bienvenida el equipo de SaboresDelSur Córdoba.