{% extends 'base.html.twig'%}

    {% block banner %}
        <div>
            <a class="animated bounceInLeft navbar-brand" href="{{ path('homepage') }}">Sabores del Sur</a>
            <div class="container">
                <div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-10">
            <ul class="hidden-xs nav navbar-nav main-nav clear">
                <li><a class="navactive color_animation">Ingreso</a></li>
                <!--Pregunto si esta logueado o no para iniciar o cerrar sesion-->
                {% if is_granted('ROLE_USER') %}
                    <li><a></a></li>
                    <li><a class="color_animation" href="{{ path('homepage') }}">Volver a Inicio</a></li>
                    <li><a class="color_animation" href="{{ path('security_logout') }}">Cerrar Sesión</a></li>
                {% endif %}
            </ul>
           </div>
          </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
{#        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav main-nav  clear navbar-right ">
                <li><a href="#" class="navactive color_animation">Ingreso</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->#}
    {% endblock %}

{% block body %}
    <div id="top" class="starter_container_login bg">
        <div class="follow_container">
            <div class="col-md-6 col-md-offset-1">
                <h2 class="color-login">Ingreso</h2><br>
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(formLogin) }}
                {{ form_row(formLogin._username, {
                    'label': 'Usuario',
                    'label_attr': {'class': 'color-login'}
                }) }}
                {{ form_row(formLogin._password, {
                    'label': 'Contraseña',
                    'label_attr': {'class': 'color-login'}
                }) }}
                <a href="{{ path('homepage') }}" class="btn btn-success">Volver  <span class="fa fa-arrow-left"></span></a>
                <button type="submit" class="btn btn-success" formnovalidate>Ingresar  <span class="fa fa-lock"></span></button>
                {{ form_end(formLogin) }}
            </div>
        </div>
    </div>
{% endblock %}